// Important import
@import "./variables";

// Extends
%bck_img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}
// Header
header {
  @extend %bck_img;
  background-image: url(../images/hero_bg_2.jpg);
  padding: 350px 0;
  h1 {
    font-size: 50px;
  }
  a {
    border: 1px solid $color_main;
    background-color: $color_main;
    transition: background-color 0.2s ease-in-out;
    &:hover {
      background-color: $color_main-hover;
      border: 1px solid $color_main_hover;
    }
    &:nth-child(3):hover {
      background-color: $color_main !important;
      border: 1px solid $color_main;
    }
  }
}
// End Header

// Main
main {
  // Host
  #host {
    .wrapper {
      height: 250px;
      i {
        color: $color_main !important;
        transition: transform 0.7s ease-in-out;
      }
      a {
        border: 1px solid $color_main;
        background-color: $color_main;
        transition: background-color 0.2s ease-in-out;
        &:hover {
          background-color: $color_main-hover;
          border: 1px solid $color_main_hover;
        }
      }
      &:hover > i {
        transform: rotate(360deg);
      }
    }
  }
  // End Host

  // Client
  #register {
    @extend %bck_img;
    background-image: url(../images/hero_bg_3.jpg.webp);
    padding: 350px 0;
    z-index: 1;
    h2 {
      font-size: 60px;
    }
    a {
      border: 1px solid $color_main;
      background-color: $color_main;
      transition: background-color 0.2s ease-in-out;
      &:hover {
        background-color: $color_main-hover;
        border: 1px solid $color_main_hover;
      }
    }
    &::after {
      content: "";
      position: absolute;
      background-color: rgb(77, 117, 141);
      opacity: 0.6;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
    }
  }
  // End Client

  // Choose
  #choose {
    .wrapper {
      cursor: pointer;
      i {
        transition: transform 0.7s ease-in-out;
        color: $color_main;
      }
      &:hover >.content>i {
        transform: rotate(360deg);
      }
    }
  }
  // End Choose
  // End Main
}
