// XX-Large devices (larger desktops, 1400px and down)
@media only screen and (max-width: 1400px) {
}
// X-Large devices (large desktops, 1200px and down)
@media only screen and (max-width: 1200px) {
}
// Large devices (desktops, 992px and down)
@media only screen and (max-width: 992px) {
}

// Medium devices (tablets, 768px and down)
@media only screen and (max-width: 768px) {
}

// Small devices  (tablets, 576px and down)
@media only screen and (max-width: 576px) {
    header{
        h1{
            font-size: 25px;
        }
    }
    #register{
        h2{
            font-size: 37px !important;
        }
    }
    #register{
     height: 450px;
    }
}

// Extra Small devices (tablets, 320px and down)
@media only screen and (max-width: 320px) {
}